# 数据描述

- Table 1: 用户线下消费和优惠券领取行为
    - User_id: 用户 ID
    - Merchant_id: 商户 ID
    - Coupon_id: 优惠券 ID：null 表示无优惠券消费，此时 Discount_rate和 Date_received字段无意义
    - Discount_rate: 优惠率：$x \in [0,1]$ 代表折扣率；x:y 表示满x 减y。单位：元
    - Distance: user经常活动的地点离该 merchant 的最近门店距离是 $x \times 500$米
        -（如果是连锁店，则取最近的一家门店），$x \in [0,10]$；
        - null 表示无此信息，
        - 0表示低于500米，
        - 10表示大于5公里；
    - Date_received: 领取优惠券日期
    - Date: 消费日期：
        - 如果 Date=null & Coupon_id != null，该记录表示领取优惠券但没有使用，即负样本；
        - 如果 Date != null & Coupon_id = null，则表示普通消费日期；
        - 如果 Date != null & Coupon_id != null，则表示用优惠券消费日期，即正样本；

In [36]:
import pandas as pd
import numpy as np

table1_file_path = './ccf_offline_stage1_train.csv'
#table1_file_path = './test.csv'
table1_data = pd.read_csv(table1_file_path, parse_dates=[5,6], dtype={'Coupon_id': 'str'})

df1 = table1_data.dropna(axis=0)

df1['Action'] = 3
# 满减 0
# 打折 1
#df['Discount_type'] = np.where(df['Discount_rate'].str.contains(':', na=False), 0, 1)
#new = df['Discount_rate'].str.split(':', n=1, expand=True)
#df['Discount_new_rate'] = (new[0].astype(float) - new[1].astype(float)) / new[0].astype(float)
df1['Distance_date_for_consume'] = (df1['Date'] - df1['Date_received']).dt.days
df1['Target'] = np.where(df1['Distance_date_for_consume'] <= 15, 1, 0)
df1

/Users/levin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/levin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/levin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,Action,Distance_date_for_consume,Target
6,1439408,2632,8591,20:1,0.0,2016-05-16,2016-06-13,3,28,0
33,1113008,1361,11166,20:1,0.0,2016-05-15,2016-05-21,3,6,1
38,2881376,8390,7531,20:5,0.0,2016-03-21,2016-03-29,3,8,1
69,114747,6901,2366,30:5,0.0,2016-05-23,2016-06-05,3,13,1
75,114747,5341,111,30:5,0.0,2016-01-27,2016-02-21,3,25,0
76,114747,5341,111,30:5,0.0,2016-02-07,2016-02-18,3,11,1
77,114747,5341,7751,50:10,0.0,2016-01-27,2016-01-28,3,1,1
84,114747,2454,8088,20:5,0.0,2016-03-24,2016-03-31,3,7,1
100,114747,3381,9776,10:5,0.0,2016-01-29,2016-02-21,3,23,0
143,205174,1169,4627,50:20,0.0,2016-02-06,2016-02-14,3,8,1
192,1380272,2099,12034,100:10,1.0,2016-02-01,2016-02-05,3,4,1
193,1380272,5341,7751,50:10,0.0,2016-02-01,2016-02-06,3,5,1
197,1380272,5341,111,30:5,0.0,2016-02-01,2016-02-05,3,4,1
203,94491,2786,13163,30:10,8.0,2016-03-21,2016-03-27,3,6,1
236,756312,6485,10323,20:5,0.0,2016-03-23,2016-03-24,3,1,1
238,756312,6485,10323,20:5,0.0,2016-03-23,2016-03-29,3,6,1
368,1910192,8244,5756,30:5,10.0,2016-05-28,2016-06-26,3,29,0
400,1976240,4225,6478,50:5,3.0,2016-05-25,2016-06-08,3,14,1
426,222550,3381,9776,10:5,0.0,2016-01-29,2016-02-14,3,16,0
449,165334,6189,12807,30:1,0.0,2016-06-10,2016-06-10,3,0,1
458,165334,450,8555,30:5,0.0,2016-01-31,2016-02-23,3,23,0
475,1454000,4142,4773,100:10,0.0,2016-01-27,2016-02-10,3,14,1
561,3045728,3293,11364,30:5,0.0,2016-02-28,2016-03-05,3,6,1
562,3045728,3293,11364,30:5,0.0,2016-03-05,2016-03-08,3,3,1
613,141622,171,5825,20:5,1.0,2016-05-25,2016-05-31,3,6,1
620,74955,4033,13517,30:5,10.0,2016-05-06,2016-05-14,3,8,1
629,141718,3621,2705,20:5,0.0,2016-05-22,2016-06-07,3,16,0
656,232054,112,10175,100:30,2.0,2016-05-25,2016-06-21,3,27,0
702,994008,4142,4773,100:10,0.0,2016-01-26,2016-01-29,3,3,1
703,994008,4142,4773,100:10,0.0,2016-01-24,2016-01-26,3,2,1
...,...,...,...,...,...,...,...,...,...,...
1754297,3766112,8292,8225,20:1,0.0,2016-06-10,2016-06-25,3,15,1
1754298,3766112,8292,8225,20:1,0.0,2016-06-09,2016-06-16,3,7,1
1754299,3766112,8292,8225,20:1,0.0,2016-06-07,2016-06-13,3,6,1
1754300,3766112,8292,8225,20:1,0.0,2016-06-04,2016-06-10,3,6,1
1754301,3766112,8292,8225,20:1,0.0,2016-05-27,2016-06-07,3,11,1
1754306,3766112,8292,8225,20:1,0.0,2016-05-25,2016-06-04,3,10,1
1754312,3766112,8292,8225,20:1,0.0,2016-05-24,2016-05-26,3,2,1
1754313,3766112,8292,8225,20:1,0.0,2016-05-21,2016-05-23,3,2,1
1754320,3766112,8292,4926,20:5,0.0,2016-03-22,2016-03-28,3,6,1
1754331,2455904,5006,6651,20:5,10.0,2016-05-23,2016-05-26,3,3,1
1754348,388972,5256,9469,30:5,1.0,2016-06-09,2016-06-15,3,6,1
1754355,4160864,3381,9776,10:5,0.0,2016-01-29,2016-01-29,3,0,1
1754387,80907,5974,8575,30:1,2.0,2016-06-03,2016-06-20,3,17,0
1754416,121947,1433,8735,30:5,0.0,2016-02-11,2016-02-16,3,5,1
1754433,746328,1041,11197,30:5,0.0,2016-01-13,2016-01-25,3,12,1
1754437,746328,1041,11197,30:5,0.0,2016-01-07,2016-01-13,3,6,1
1754441,746328,1041,11197,30:5,0.0,2016-01-28,2016-02-01,3,4,1
1754488,340588,4579,7142,10:1,0.0,2016-04-29,2016-04-30,3,1,1
1754512,878424,1569,6737,200:50,3.0,2016-05-23,2016-06-08,3,16,0
1754513,878424,1569,4961,0.9,3.0,2016-06-08,2016-06-10,3,2,1
1754521,878424,1569,12491,0.9,3.0,2016-05-23,2016-05-23,3,0,1
1754534,122139,7422,4727,0.8,1.0,2016-04-25,2016-04-25,3,0,1
1754623,472684,760,2418,30:5,0.0,2016-06-01,2016-06-18,3,17,0
1754683,146326,2146,3478,100:10,0.0,2016-01-25,2016-02-12,3,18,0
1754822,3399008,5341,11539,30:5,0.0,2016-02-07,2016-02-11,3,4,1
1754833,1437872,7706,416,100:10,4.0,2016-01-29,2016-02-02,3,4,1
1754873,212662,2934,5686,30:5,2.0,2016-03-21,2016-03-30,3,9,1
1754877,212662,3021,3739,30:1,6.0,2016-05-04,2016-05-08,3,4,1
1754878,212662,2934,5686,30:5,2.0,2016-03-21,2016-03-22,3,1,1
1754880,212662,3021,3739,30:1,6.0,2016-05-08,2016-06-02,3,25,0

- Table2:用户上线点击/消费和优惠劵领取行为
    - User_id:用户ID
    - Merchant_id:商户ID
    - Action : 0点击，1 购买，2领取优惠劵
    - Coupon_id: 优惠劵ID: null表示无优惠劵，此时的Discount_rate和Date_received字段无意义。“fixed”表示该交易是限时低活动。
    - Discount_rate: 优惠率：
        - $x \in [0,1]$ 代表折扣率;
        - x:y表示满x减y;
        - "fixed"低价限时优惠；
    - Date_received: 领取优惠劵日期；
    - Date: 消费日期：
        - 如果Date=null&Coupon_id!=null,该记录表示领取优惠劵但没有使用；
        - 如果Date!=null&Coupon_id=null,则表示普通消费日期；
        - 如果Date!=null&Coupon_id!=null,则表示用优惠劵消费日期；

In [37]:
import pandas as pd
import numpy as np

table2_file_path = './ccf_online_stage1_train.csv'
table2_data = pd.read_csv(table2_file_path, parse_dates=[5,6], dtype={'Coupon_id':'str'})

df2 = table2_data.dropna(axis=0)

df2['Distance'] = 0
df2['Distance_date_for_consume'] = (df2['Date'] - df2['Date_received']).dt.days
df2['Target'] = np.where(df2['Distance_date_for_consume'] <= 15, 1, 0)
df2

/Users/levin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/levin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/levin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date,Distance,Distance_date_for_consume,Target
273,10131831,47003,1,fixed,fixed,2016-01-28,2016-01-28,0,0,1
274,10131831,47003,1,fixed,fixed,2016-01-28,2016-01-28,0,0,1
279,10131831,47003,1,fixed,fixed,2016-01-17,2016-01-17,0,0,1
280,10131831,47003,1,fixed,fixed,2016-01-17,2016-01-17,0,0,1
748,12518031,30314,1,fixed,fixed,2016-03-06,2016-03-06,0,0,1
749,12518031,30314,1,fixed,fixed,2016-03-06,2016-03-06,0,0,1
750,12518031,30314,1,fixed,fixed,2016-03-06,2016-03-06,0,0,1
807,12518031,30314,1,fixed,fixed,2016-03-17,2016-03-17,0,0,1
859,13812399,26700,1,fixed,fixed,2016-04-17,2016-04-17,0,0,1
864,13812399,26700,1,fixed,fixed,2016-04-27,2016-04-27,0,0,1
1263,15311631,13200,1,fixed,fixed,2016-03-05,2016-03-05,0,0,1
1266,15311631,13200,1,fixed,fixed,2016-02-23,2016-02-23,0,0,1
1267,15311631,51109,1,100181535,20:10,2016-03-30,2016-03-30,0,0,1
1285,12809031,25611,1,fixed,fixed,2016-05-03,2016-05-03,0,0,1
1295,12809031,47710,1,fixed,fixed,2016-04-29,2016-04-29,0,0,1
1297,12809031,31006,1,100077842,200:10,2016-04-25,2016-04-25,0,0,1
1303,12809031,35903,1,fixed,fixed,2016-01-22,2016-01-22,0,0,1
1305,12809031,31006,1,fixed,fixed,2016-04-25,2016-04-25,0,0,1
1307,12809031,31006,1,fixed,fixed,2016-05-12,2016-05-12,0,0,1
1328,12809031,35903,1,fixed,fixed,2016-01-11,2016-01-11,0,0,1
1331,12809031,39505,1,fixed,fixed,2016-06-09,2016-06-09,0,0,1
1336,12809031,25611,1,fixed,fixed,2016-05-14,2016-05-14,0,0,1
1337,12809031,39505,1,fixed,fixed,2016-05-30,2016-05-30,0,0,1
1339,12809031,18907,1,fixed,fixed,2016-04-21,2016-04-21,0,0,1
1340,12809031,18907,1,fixed,fixed,2016-04-11,2016-04-11,0,0,1
1347,12809031,47710,1,fixed,fixed,2016-05-11,2016-05-11,0,0,1
1397,10902399,52005,1,fixed,fixed,2016-01-17,2016-01-17,0,0,1
1422,10902399,52005,1,fixed,fixed,2016-01-21,2016-01-21,0,0,1
1473,11600799,18907,1,fixed,fixed,2016-04-07,2016-04-07,0,0,1
1475,11600799,18907,1,fixed,fixed,2016-03-27,2016-03-27,0,0,1
...,...,...,...,...,...,...,...,...,...,...
11427985,14149299,27502,1,100068471,20:10,2016-05-18,2016-05-18,0,0,1
11428016,14847699,38304,1,fixed,fixed,2016-06-04,2016-06-04,0,0,1
11428019,14847699,47815,1,fixed,fixed,2016-05-27,2016-05-27,0,0,1
11428020,14847699,47815,1,fixed,fixed,2016-06-07,2016-06-07,0,0,1
11428419,13436931,41112,1,fixed,fixed,2016-05-08,2016-05-08,0,0,1
11428422,13436931,41112,1,fixed,fixed,2016-05-18,2016-05-18,0,0,1
11428423,13436931,41112,1,100153262,100:10,2016-05-08,2016-05-08,0,0,1
11428424,13436931,41112,1,fixed,fixed,2016-05-09,2016-05-09,0,0,1
11428481,10235931,56205,1,100176395,200:10,2016-05-19,2016-05-19,0,0,1
11428586,11632731,34307,1,100001435,50:1,2016-05-02,2016-05-04,0,2,1
11428625,11632731,13215,1,fixed,fixed,2016-05-15,2016-05-15,0,0,1
11428727,14323899,28307,1,fixed,fixed,2016-04-14,2016-04-14,0,0,1
11428937,10817931,55906,1,100134960,30:10,2016-05-22,2016-05-22,0,0,1
11428939,10817931,46602,1,fixed,fixed,2016-02-22,2016-02-22,0,0,1
11428943,10817931,46602,1,fixed,fixed,2016-02-15,2016-02-15,0,0,1
11428976,15415731,52005,1,fixed,fixed,2016-02-29,2016-02-29,0,0,1
11428977,15415731,52005,1,fixed,fixed,2016-02-29,2016-02-29,0,0,1
11428978,15415731,52005,1,fixed,fixed,2016-02-16,2016-02-16,0,0,1
11428979,15415731,52005,1,fixed,fixed,2016-02-16,2016-02-16,0,0,1
11428990,12214731,51810,1,fixed,fixed,2016-03-15,2016-03-15,0,0,1
11428992,12214731,51810,1,fixed,fixed,2016-03-07,2016-03-07,0,0,1
11429005,12214731,51810,1,100227578,200:20,2016-03-06,2016-03-07,0,1,1
11429033,13611531,36705,1,100084281,150:10,2016-01-20,2016-01-20,0,0,1
11429163,15008331,46602,1,fixed,fixed,2016-02-18,2016-02-18,0,0,1
11429169,11807331,22109,1,100103688,10:5,2016-03-12,2016-03-12,0,0,1
11429496,15299331,18907,1,fixed,fixed,2016-03-08,2016-03-08,0,0,1
11429499,15299331,18907,1,fixed,fixed,2016-03-19,2016-03-19,0,0,1
11429620,14091099,42415,1,100177336,50:30,2016-06-15,2016-06-15,0,0,1
11429791,12985299,49800,1,100181877,10:5,2016-05-16,2016-05-17,0,1,1
11429810,12985299,49800,1,fixed,fixed,2016-05-17,2016-05-17,0,0,1

In [38]:
# concate df1 and df2
import pandas as pd

frames = [df1, df2]

df = pd.concat(frames, sort=False,ignore_index=True, axis=0)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df['Coupon_id'])
df['Coupon_id'] = le.transform(df['Coupon_id'])

le.fit(df['Discount_rate'])
df['Discount_rate'] = le.transform(df['Discount_rate'])

df

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,Action,Distance_date_for_consume,Target
0,1439408,2632,22559,38,0.0,2016-05-16,2016-06-13,3,28,0
1,1113008,1361,17562,38,0.0,2016-05-15,2016-05-21,3,6,1
2,2881376,8390,22020,40,0.0,2016-03-21,2016-03-29,3,8,1
3,114747,6901,19463,51,0.0,2016-05-23,2016-06-05,3,13,1
4,114747,5341,17532,51,0.0,2016-01-27,2016-02-21,3,25,0
5,114747,5341,17532,51,0.0,2016-02-07,2016-02-18,3,11,1
6,114747,5341,22118,60,0.0,2016-01-27,2016-01-28,3,1,1
7,114747,2454,22289,40,0.0,2016-03-24,2016-03-31,3,7,1
8,114747,3381,23168,23,0.0,2016-01-29,2016-02-21,3,23,0
9,205174,1169,20575,61,0.0,2016-02-06,2016-02-14,3,8,1
10,1380272,2099,18030,17,1.0,2016-02-01,2016-02-05,3,4,1
11,1380272,5341,22118,60,0.0,2016-02-01,2016-02-06,3,5,1
12,1380272,5341,17532,51,0.0,2016-02-01,2016-02-05,3,4,1
13,94491,2786,18595,49,8.0,2016-03-21,2016-03-27,3,6,1
14,756312,6485,17154,40,0.0,2016-03-23,2016-03-24,3,1,1
15,756312,6485,17154,40,0.0,2016-03-23,2016-03-29,3,6,1
16,1910192,8244,21135,51,10.0,2016-05-28,2016-06-26,3,29,0
17,1976240,4225,21504,63,3.0,2016-05-25,2016-06-08,3,14,1
18,222550,3381,23168,23,0.0,2016-01-29,2016-02-14,3,16,0
19,165334,6189,18409,48,0.0,2016-06-10,2016-06-10,3,0,1
20,165334,450,22536,51,0.0,2016-01-31,2016-02-23,3,23,0
21,1454000,4142,20654,17,0.0,2016-01-27,2016-02-10,3,14,1
22,3045728,3293,17677,51,0.0,2016-02-28,2016-03-05,3,6,1
23,3045728,3293,17677,51,0.0,2016-03-05,2016-03-08,3,3,1
24,141622,171,21175,40,1.0,2016-05-25,2016-05-31,3,6,1
25,74955,4033,18765,51,10.0,2016-05-06,2016-05-14,3,8,1
26,141718,3621,19629,40,0.0,2016-05-22,2016-06-07,3,16,0
27,232054,112,17075,19,2.0,2016-05-25,2016-06-21,3,27,0
28,994008,4142,20654,17,0.0,2016-01-26,2016-01-29,3,3,1
29,994008,4142,20654,17,0.0,2016-01-24,2016-01-26,3,2,1
...,...,...,...,...,...,...,...,...,...,...
283594,14149299,27502,4972,39,0.0,2016-05-18,2016-05-18,1,0,1
283595,14847699,38304,23286,71,0.0,2016-06-04,2016-06-04,1,0,1
283596,14847699,47815,23286,71,0.0,2016-05-27,2016-05-27,1,0,1
283597,14847699,47815,23286,71,0.0,2016-06-07,2016-06-07,1,0,1
283598,13436931,41112,23286,71,0.0,2016-05-08,2016-05-08,1,0,1
283599,13436931,41112,23286,71,0.0,2016-05-18,2016-05-18,1,0,1
283600,13436931,41112,11100,17,0.0,2016-05-08,2016-05-08,1,0,1
283601,13436931,41112,23286,71,0.0,2016-05-09,2016-05-09,1,0,1
283602,10235931,56205,12854,32,0.0,2016-05-19,2016-05-19,1,0,1
283603,11632731,34307,101,59,0.0,2016-05-02,2016-05-04,1,2,1
283604,11632731,13215,23286,71,0.0,2016-05-15,2016-05-15,1,0,1
283605,14323899,28307,23286,71,0.0,2016-04-14,2016-04-14,1,0,1
283606,10817931,55906,9775,49,0.0,2016-05-22,2016-05-22,1,0,1
283607,10817931,46602,23286,71,0.0,2016-02-22,2016-02-22,1,0,1
283608,10817931,46602,23286,71,0.0,2016-02-15,2016-02-15,1,0,1
283609,15415731,52005,23286,71,0.0,2016-02-29,2016-02-29,1,0,1
283610,15415731,52005,23286,71,0.0,2016-02-29,2016-02-29,1,0,1
283611,15415731,52005,23286,71,0.0,2016-02-16,2016-02-16,1,0,1
283612,15415731,52005,23286,71,0.0,2016-02-16,2016-02-16,1,0,1
283613,12214731,51810,23286,71,0.0,2016-03-15,2016-03-15,1,0,1
283614,12214731,51810,23286,71,0.0,2016-03-07,2016-03-07,1,0,1
283615,12214731,51810,16565,34,0.0,2016-03-06,2016-03-07,1,1,1
283616,13611531,36705,6127,25,0.0,2016-01-20,2016-01-20,1,0,1
283617,15008331,46602,23286,71,0.0,2016-02-18,2016-02-18,1,0,1
283618,11807331,22109,7552,23,0.0,2016-03-12,2016-03-12,1,0,1
283619,15299331,18907,23286,71,0.0,2016-03-08,2016-03-08,1,0,1
283620,15299331,18907,23286,71,0.0,2016-03-19,2016-03-19,1,0,1
283621,14091099,42415,12917,62,0.0,2016-06-15,2016-06-15,1,0,1
283622,12985299,49800,13252,23,0.0,2016-05-16,2016-05-17,1,1,1
283623,12985299,49800,23286,71,0.0,2016-05-17,2016-05-17,1,0,1

In [39]:
# model
y = df['Target']
X = df[['User_id', 'Merchant_id', 'Coupon_id', 'Discount_rate', 'Distance', 'Action']]

from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(X, y)

/Users/levin/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

- Table3: 用户O2O线下优惠券使用预测样本
    - User_id: 用户 ID
    - Merchant_id: 商户 ID
    - Coupon_id: 优惠券 ID
    - Discount_rate: 优惠率：$x \in [0,1]$代表折扣率；x:y 表示满x 减y。单位：元
    - Distance: user经常活动的地点离该 merchant 的最近门店距离是:$x\times 500m$
        - 如果是连锁店，则取最近的一家门店: $x \in [0,10]$；
            - null 表示无此信息，
            - 0表示低于500米
            - 10表示大于5公里；
    - Date_received: 领取优惠券的日期

In [58]:
import pandas as pd

table3_file_path = './ccf_offline_stage1_test_revised.csv'
table3_data = pd.read_csv(table3_file_path)

df3 = table3_data

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

le.fit(df3['Discount_rate'])
df3['Discount_rate'] = le.transform(df3['Discount_rate'])

from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy='constant', fill_value=0)
df31 = pd.DataFrame(imp.fit_transform(df3), columns=df3.columns)

predict_proba = rfc.predict_proba(df31)
#predict = rfc.predict(df31)
#predict

array([[0.825     ],
       [0.5       ],
       [0.9       ],
       ...,
       [0.93333333],
       [0.5       ],
       [0.9       ]])

- Table4: 提交文件，头四个字段来组 Table3
    - User_id: 用户 ID
    - Coupon_id: 优惠 ID
    - Date_received: 领取优惠券日期
    - Probability: 15天内用券概率

In [59]:
df31['Probability'] = predict_proba[:, [1]]
df31

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Probability
0,4129537.0,450.0,9983.0,35.0,1.0,20160712.0,0.825000
1,6949378.0,1300.0,3429.0,35.0,0.0,20160706.0,0.500000
2,2166529.0,7113.0,6928.0,22.0,5.0,20160727.0,0.900000
3,2166529.0,7113.0,1808.0,8.0,5.0,20160727.0,1.000000
4,6172162.0,7605.0,6500.0,32.0,2.0,20160708.0,0.900000
5,4005121.0,450.0,9983.0,35.0,0.0,20160706.0,0.400000
6,4347394.0,450.0,9983.0,35.0,0.0,20160716.0,0.200000
7,3094273.0,760.0,13602.0,35.0,1.0,20160727.0,1.000000
8,5139970.0,450.0,9983.0,35.0,10.0,20160729.0,0.900000
9,3237121.0,760.0,13602.0,35.0,1.0,20160703.0,1.000000
10,6224386.0,450.0,9983.0,35.0,3.0,20160716.0,0.900000
11,6488578.0,760.0,13602.0,35.0,0.0,20160712.0,0.500000
12,4164865.0,450.0,9983.0,35.0,2.0,20160703.0,0.700000
13,4164865.0,5138.0,8059.0,38.0,1.0,20160706.0,0.900000
14,5468674.0,450.0,9983.0,35.0,0.0,20160713.0,0.376923
15,6258178.0,7024.0,9144.0,13.0,0.0,20160706.0,0.633333
16,3659521.0,6000.0,7341.0,17.0,6.0,20160727.0,0.700000
17,3659521.0,2436.0,13181.0,26.0,3.0,20160717.0,0.900000
18,3659521.0,760.0,13602.0,35.0,0.0,20160718.0,0.400000
19,7333378.0,760.0,13602.0,35.0,0.0,20160704.0,0.400000
20,7333378.0,6901.0,785.0,28.0,1.0,20160727.0,0.800000
21,4454914.0,3621.0,2978.0,28.0,0.0,20160711.0,0.700000
22,6817282.0,6362.0,8375.0,9.0,6.0,20160724.0,0.833333
23,3149569.0,5717.0,10418.0,35.0,0.0,20160721.0,0.600000
24,6301186.0,8318.0,1715.0,32.0,1.0,20160718.0,0.900000
25,6301186.0,2199.0,4203.0,31.0,1.0,20160708.0,0.900000
26,2891521.0,760.0,13602.0,35.0,0.0,20160724.0,0.500000
27,3422977.0,760.0,13602.0,35.0,0.0,20160727.0,0.400000
28,4771330.0,760.0,13602.0,35.0,7.0,20160726.0,0.700000
29,4513282.0,1469.0,11799.0,8.0,7.0,20160712.0,0.900000
...,...,...,...,...,...,...,...
113610,4194809.0,1469.0,11799.0,8.0,1.0,20160717.0,1.000000
113611,4194809.0,760.0,13602.0,35.0,0.0,20160713.0,0.400000
113612,6062585.0,2050.0,10438.0,22.0,2.0,20160719.0,0.700000
113613,6062585.0,760.0,13602.0,35.0,10.0,20160719.0,1.000000
113614,6074873.0,6955.0,878.0,26.0,0.0,20160724.0,0.750000
113615,6342137.0,760.0,13602.0,35.0,7.0,20160728.0,0.900000
113616,6342137.0,5138.0,8059.0,38.0,1.0,20160704.0,0.671429
113617,6342137.0,8305.0,9822.0,22.0,2.0,20160724.0,0.800000
113618,6342137.0,1300.0,3429.0,35.0,10.0,20160718.0,1.000000
113619,4317689.0,5138.0,5933.0,38.0,1.0,20160727.0,0.900000
113620,5110265.0,760.0,13602.0,35.0,2.0,20160711.0,0.800000
113621,5110265.0,450.0,9983.0,35.0,2.0,20160711.0,0.800000
113622,6422009.0,5798.0,5874.0,37.0,1.0,20160710.0,0.900000
113623,4851197.0,450.0,9983.0,35.0,10.0,20160713.0,0.800000
113624,4894205.0,3621.0,2978.0,28.0,0.0,20160711.0,0.700000
113625,7253501.0,760.0,13602.0,35.0,5.0,20160714.0,0.900000
113626,6485501.0,760.0,13602.0,35.0,7.0,20160720.0,0.900000
113627,4918781.0,2050.0,10438.0,22.0,0.0,20160723.0,0.400000
113628,6497789.0,450.0,9983.0,35.0,2.0,20160716.0,0.800000
113629,7047677.0,1469.0,2601.0,9.0,1.0,20160708.0,1.000000
113630,6786557.0,450.0,9983.0,35.0,0.0,20160718.0,0.500000
113631,6801917.0,760.0,13602.0,35.0,1.0,20160719.0,0.900000
113632,7066109.0,7024.0,9144.0,13.0,0.0,20160705.0,0.700000
113633,4451837.0,760.0,13602.0,35.0,0.0,20160723.0,0.500000
113634,5828093.0,3621.0,2978.0,28.0,0.0,20160716.0,0.714286
113635,5828093.0,5717.0,10418.0,35.0,10.0,20160716.0,0.700000
113636,6626813.0,1699.0,7595.0,32.0,0.0,20160707.0,0.500000
113637,6626813.0,7321.0,7590.0,40.0,0.0,20160712.0,0.933333
113638,4547069.0,760.0,13602.0,35.0,0.0,20160717.0,0.500000
113639,6675965.0,7487.0,613.0,26.0,5.0,20160728.0,0.900000

In [61]:
df31.to_csv('./submission_first.csv', header=False, index=False)